@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  padding: 0 6px !important;
}

.slick-list {
  padding: 0 0px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Untuk Chrome, Safari, dan browser berbasis Webkit */
}
